streamlit>=1.25
earthengine-api>=0.1.341
folium>=0.14
geemap>=0.30
matplotlib>=3.7
numpy==1.23.5         # Compatible with TensorFlow
pandas>=2.0
plotly>=5.17
psycopg2-binary>=2.9
scipy>=1.11
sqlalchemy>=2.0
streamlit-folium>=0.14
trafilatura>=1.4
anthropic>=0.4
requests_mock             # Required by conda-repo-cli
urllib3<2.1               # Compatible with botocore
clyent==1.2.1             # Exact version for conda-repo-cli
python-dateutil==2.8.2    # Match conda-repo-cli requirement
